$primary: #283987;
$primary-hover: #1f3183;

$secondary: #000;
$secondary-hover: #000;

:root {
  --primary: #{$primary};
  --primary-hover: #{$primary-hover};
  --primary-rgb: #{red($primary)}, #{green($primary)}, #{blue($primary)};
  --secondary: #{$secondary};
  --secondary-hover: #{$secondary-hover};
  --secondary-rgb: #{red($secondary)}, #{green($secondary)}, #{blue($secondary)};
  --font-primary: "Helvetica LT W05 Roman";
  --font-secondary: "Inter", sans-serif;
  --menu-font-family: "Helvetica LT W05 Roman";
  --font-inter: "Inter", sans-serif;
  --font-helvetica-lt: "Helvetica LT";
  --font-helvetica-bold: "Helvetica LT W05 Bold";
  --font-helvetica: 'Helvetica';
}

$custom-gray: rgb(124, 124, 124);

$custom-theme-colors: (
  "primary": $primary,
  "warning": $secondary,
  "info": #51b3fa,
  "gray": $custom-gray,
  "white": #fff
);

// 1. Breakpoints Tanımlama
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,   
  xxl: 1400px,
  fhd: 1920px 
);

// 2. Container Genişlikleri
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px, 
  xxl: 1320px,
  fhd: 1680px
);